.hero-section {
    padding-top: 20px;

    @include media ('>=tablet') {
        padding-top: 24px;

        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }

    }
    
}

.hero-column {
    margin-bottom: 15px;

    @include media ('>=tablet') {
        width: 50%;
    }

    .hero-title {
        color: $black;
        font-size: 30px;
        line-height: 40px;
        padding-top: 48px;
        margin-bottom: 20px;
        color: $black;

        @include media ('>=tablet') {
            font-size: 44px;
            line-height: 54px;
            margin-bottom: 30px;
            padding-top: 68px;
        }
    }

    .text-holder {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 30px;


        @include media ('>=tablet') {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 45px;
            max-width: 458px;
        }
    }
}

.hero-btn-list {
   

    @include media ('>=tablet') {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
}

.btn {

    &.btn-xl {
        margin-bottom: 20px;
    }
    
    @include media ('>=tablet') {
        &.btn-xl {
            margin: 0 20px 0 0;
            padding: 14px 48px;
            font-weight: 700;
        }
    }
}

.video-link{
    font-weight: 600;
    font-size: 8px;
    line-height: 16px;
    color: $yellow;
    &::before {
        content: "";
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid $yellow;
        display: inline-block;
        padding-right: 8px;
    }

    @include media {
        font-size: 16px;
        line-height: 24px;
        
        &::before {
            padding-right: 7px;
        }
    }
    
}